



.bg-container{
    padding-top: 1vh;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 100vh;
    
    
}

.bg-jumbo{
    background-color: rgba(0, 123, 255, 0.5);
    border-radius: 8px;
}


